<div *ngIf="showTutorial || !showTutorial && isSettingsComponent" class="alert alert-info fade show mt-3" role="alert">
   <h4 class="alert-heading">
      <i class="bi bi-info-circle"></i> Creating Icons
   </h4>
   <p>
      Use the Icon Producer to grab icons from the internet, and then cropping & scaling them here to make them compatible with Remembr icons.
   </p>
   <p>
      <b>NOTE</b>: Using transparent PNG source images is recommended to maintain visual continuity on the Remembr dashboard. Using non-transparency images like JPG or BMP results in icons without transparent sections.
   </p>
   <ul>
      <li>1. Use Google to find an image you want to convert into a Remembr icon.</li>
      <li>2. Save that image to your computer.</li>
      <li>3. Upload that image here by selecting "Upload Icon".</li>
      <li>4. Crop the image as you see fit.</li>
      <li>5. Select the size of the icon. Recommended for Remembr is 128x128.</li>
      <li>6. Click "Download PNG".</li>
      <li>7. Go to the Icon Manager tab on this page to upload your new icon.</li>
   </ul>
   <p
      class="mb-0 d-flex justify-content-between align-items-center"
      *ngIf="!isSettingsComponent"
      >
      <span>&nbsp;</span>
      <span class="button-group ms-3">
      <button mat-stroked-button style="margin-right: 10px;" (click)="dismissTutorial()">
      <i class="bi bi-x-lg"></i> Don’t Show Again
      </button>
      <button type="button" mat-stroked-button (click)="showTutorial = false">
      <i class="bi bi-caret-down"></i> Hide
      </button>
      </span>
   </p>
</div>