<div
  cdkDropList
  cdkDropListOrientation="mixed"
  class="group-list"
  (cdkDropListDropped)="dropGroup($event, category)"
>
  <div
    *ngFor="let group of category.groups; trackBy: trackLinkById"
    class="group-box"
    cdkDrag
    [cdkDragDisabled]="isGroupDraggable"
  >
    <div class="group-header d-flex align-items-center justify-content-between">
      <i
      *ngIf="showHandles"
      class="bi bi-list group-drag-handle"
      cdkDragHandle
      title="Drag group"
      (mouseover)="allowGroupDrag()"
      (mouseout)="preventGroupDrag()"></i>

      <i class="bi bi-box-seam" style="color: white; margin-right: 8px;"></i>

      <div class="group-name-container d-flex align-items-center" #groupNameContainer>
        <div class="group-name">{{ group.name }}</div>
      </div>

      <i class="bi bi-three-dots-vertical group-menu-icon" [matMenuTriggerFor]="groupMenu"></i>
      <mat-menu #groupMenu="matMenu">
        <button mat-menu-item (click)="openAddLinkDialog(group.id)">
          <i class="bi bi-plus-lg"></i> Add Link
        </button>
        <button mat-menu-item (click)="openEditLinksDialog(category.id, group.id)">
          <i class="bi bi-pencil"></i> Edit Group
        </button>
        <button mat-menu-item (click)="openManageGroupsDialog(category.id, group.id)">
          <i class="bi bi-sliders"></i> Group Manager
        </button>
        <button mat-menu-item [matMenuTriggerFor]="moveGroupSubMenu">
          <i class="bi bi-send"></i> Move Group
        </button>
        <button mat-menu-item (click)="deleteGroup(group)">
          <i class="bi bi-x-lg"></i> Delete Group
        </button>
      </mat-menu>

      <mat-menu #moveGroupSubMenu="matMenu">
        <ng-container *ngFor="let cat of categories">
          <button
            mat-menu-item
            *ngIf="cat.id !== category.id"
            (click)="onMoveGroup({ group, newCategoryId: cat.id })"
          >
          <i class="bi bi-box-seam"></i> {{ cat.name }}
          </button>
        </ng-container>
      </mat-menu>
    </div>

    <app-ui-link
    [group]="group"
    [category]="category"
    [isLinkDraggable]="isLinkDraggable"
    [showHandles]="showHandles"
    (linkMoved)="handleLinkMoved($event)"
  ></app-ui-link>

    <div class="icon-row">
      <i class="bi bi-arrows-move" title="Enable Drag and Drop" (click)="toggleHandles()"></i>
      <i class="bi bi-sliders" (click)="openEditLinksDialog(category.id, group.id)" title="Edit This Group"></i>
      <i class="bi bi-three-dots-vertical" [matMenuTriggerFor]="groupMenu" title="Menu"></i>
    </div>

  </div>

  <div
  class="group-box add-group-box static d-flex align-items-center justify-content-center"
  (click)="openAddGroupDialog(category.id)">
  <div style="margin-top: 15%;">
  <i class="bi bi-plus-circle me-2"></i>Add Group
</div>
</div>

</div>
