<mat-dialog-content style="display: flex; flex-direction: column; height: 100%; position: relative;">
    <h3 mat-dialog-title class="pb-2">Add New Category</h3>
    <i class="bi bi-x-lg close-icon" title="Close" (click)="cancel()"></i>
  
    <form (ngSubmit)="save()">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          name="newCategoryName"
          placeholder="Enter category name"
          [(ngModel)]="newCategoryName"
        />
        <button
          class="btn btn-outline-primary"
          type="submit"
          [disabled]="!newCategoryName.trim()"
        >
          Add Category
        </button>
      </div>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions class="justify-content-end" style="margin-right: 8px; margin-left: 8px;">
    <button mat-button (click)="cancel()">Close</button>
  </mat-dialog-actions>
  