<mat-dialog-content class="pt-2">
   <h3 mat-dialog-title class="pb-2 pt-0" style="padding-left: 10px !important; font-weight: 500;">Settings</h3>
   <i class="bi bi-x-lg close-icon" (click)="closeDialog()" title="Close"></i>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between ">
   <button mat-button color="warn" >Close</button>
   <div>
      <button mat-button color="primary">
      Save & Add
      </button>
      <button mat-button color="primary">
      Save & Close
      </button>
   </div>
</mat-dialog-actions>