.close-icon {
	position: absolute;
	top: 24px;
	right: 22px;
	font-size: 1.1rem;
	color: #666;
	cursor: pointer;
	transition: color 0.3s ease;
}

.close-icon:hover {
	color: #000;
}

input.form-control {
	width: 100%;
}

:host {
	display: block;
	padding: 8px;
	padding-left: 4px;
	padding-right: 4px;
}

.input-group {
	display: flex;
}

input.form-control {
	flex: 1;
}

mat-dialog-actions {
	display: flex;
	justify-content: space-between;
	padding: 8px 0 0;
}

.custom-dialog-header {
	position: relative;
	padding-left: 0px;
	padding-bottom: 15px;
	padding-top: 0px;
	font-weight: 500;
	color: #44474e;
}

.custom-mat-dialog-actions {
	padding-top: 0px;
	margin-top: 0px !important;
}