<div *ngIf="showTutorial || !showTutorial && isSettingsComponent" class="alert alert-info fade show mt-3" role="alert">
   <h4 class="alert-heading">
      <i class="bi bi-info-circle"></i> Customizing Your Theme
   </h4>
   <p>
      Use this panel to fully customize the appearance of your dashboard. You can change fonts, colors, background styles, and more—then save your work as a new theme or overwrite an existing one.
   </p>
   <p
      class="mb-0 d-flex justify-content-between align-items-center"
      *ngIf="!isSettingsComponent"
      >
      <span>&nbsp;</span>
      <span class="button-group ms-3">
      <button mat-stroked-button style="margin-right: 10px;" (click)="dismissTutorial()">
      <i class="bi bi-x-lg"></i> Don’t Show Again
      </button>
      <button type="button" mat-stroked-button (click)="showTutorial = false">
      <i class="bi bi-caret-down"></i> Hide
      </button>
      </span>
   </p>
</div>