<div
class="tab-hover-zone position-relative"
(mouseenter)="onTabMouseEnter()"
(mouseleave)="onTabMouseLeave()"
>
<mat-tab-group class="custom-tab-group" dynamicHeight>
   <mat-tab *ngFor="let category of categories" [label]="category.name" >
   <div class="container mt-3" style="padding-left: 0px !important; padding-right: 0px !important; overflow-x: hidden;">
      <ng-container *ngIf="category.groups?.length > 0; else emptyGroupPlaceholder">
         <div class="container mt-3" style="padding-left: 0px !important; padding-right: 0px !important; overflow-x: hidden;">
            <div class="row g-3"
            (mouseenter)="hoveredCategory = category.id"
            (mouseleave)="hoveredCategory = null">
            <ng-container *ngFor="let group of category.groups; trackBy: trackByGroupId">
               <div class="col-12 col-md-2">
                  <app-ui-link-group
                  [group]="group"
                  [categoryId]="category.id"
                  [selectedLink]="selectedLink"
                  [selectedMoveCategory]="selectedMoveCategory"
                  [sharedMoveMenu]="moveMenu"
                  (addLink)="openAddLinkDialog($event)"
                  (editGroup)="openEditGroupDialog($event.groupId)"
                  (deleteGroup)="confirmDeleteGroup($event)"
                  (editLink)="openEditLinkDialog($event)"
                  (deleteLink)="confirmDeleteLink($event)"
                  (moveLink)="moveLinkToGroup($event.linkId, $event.groupId)"
                  (setSelectedLink)="selectedLink = $event"
                  (resetMoveCategory)="selectedMoveCategory = null"
                  ></app-ui-link-group>
               </div>
            </ng-container>
            <!-- + button when groups exist -->
            <div class="col-12 col-md-2 d-flex align-items-center justify-content-center add-group-column"
               [ngClass]="{ 'show': hoveredCategory === category.id, 'hide': hoveredCategory !== category.id }">
               <button class="btn btn-outline-light w-100 h-100"
                  style="border: 1px dashed;"
                  (click)="openAddGroupDialog(category.id)">
               <i class="bi bi-plus-lg"></i> Add Group
               </button>
            </div>
         </div>
   </div>
   </ng-container>
   <!-- Placeholder when there are NO groups -->
   <ng-template #emptyGroupPlaceholder>
      <div class="container mt-3" style="padding-left: 0px !important; padding-right: 0px !important; overflow-x: hidden;">
         <div class="row g-3"
         (mouseenter)="hoveredCategory = category.id"
         (mouseleave)="hoveredCategory = null">
         <div class="col-12 col-md-2 d-flex align-items-center justify-content-center add-group-column show" style="height: 150px;">
            <button class="btn btn-outline-light w-100 h-100"
               style="border: 1px dashed;"
               (click)="openAddGroupDialog(category.id)">
            <i class="bi bi-plus-lg"></i> Add Group
            </button>
         </div>
      </div>
      </div>
   </ng-template>
   <ng-template #emptyGroupPlaceholder>
      <!-- Can leave empty, or put placeholder if needed -->
   </ng-template>
   </div>
   </mat-tab>
</mat-tab-group>
<!-- ✅ This icon is inside the hoverable parent -->
<i
class="bi bi-plus-circle add-category-icon"
(click)="onAddCategoryClick()"
(mouseenter)="onTabMouseEnter()"
(mouseleave)="onTabMouseLeave()"
title="Add Category"
[class.visible]="isTabHovered"
></i>
</div>
<!-- Shared move menu -->
<mat-menu #moveMenu="matMenu">
   <span class="w-100 text-center">
      <h5>Categories</h5>
   </span>
   <mat-divider></mat-divider>
   <ng-container *ngFor="let cat of categories">
      <button mat-menu-item 
      (mouseenter)="selectedMoveCategory = cat"
      [matMenuTriggerFor]="groupMenuShared">
      {{ cat.name }}
      </button>
   </ng-container>
</mat-menu>
<!-- Shared group submenu -->
<mat-menu #groupMenuShared="matMenu">
   <span class="w-100 text-center">
      <h5>Groups</h5>
   </span>
   <mat-divider></mat-divider>
   <ng-container *ngIf="selectedMoveCategory?.groups?.length > 0; else noGroups">
      <button mat-menu-item *ngFor="let group of selectedMoveCategory.groups"
      (click)="moveLinkToGroup(selectedLink.id, group.id)"
      [disabled]="group.id === selectedLink?.group?.id">
      {{ group.name || 'Unnamed Group' }}
      </button>
   </ng-container>
   <ng-template #noGroups>
      <button mat-menu-item disabled class="text-muted fst-italic">
      No groups in this category yet.
      </button>
   </ng-template>
</mat-menu>