body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
  }