<div class="button-container">
    <button mat-button routerLink="/settings" class="settings-button">
        <i class="bi bi-sliders" style="font-size: 20px;"></i>
    </button>
  </div>
  
  <!-- <mat-menu #settingsMenu="matMenu" yPosition="above" panelClass="custom-settings-menu">
    <button mat-menu-item (click)="openManageCategoryDialog();"><i class="bi bi-tags"></i> Category Manager</button>
    <button mat-menu-item (click)="openManageGroupsDialog();"><i class="bi bi-box-seam"></i> Group Manager</button>
    <button mat-menu-item (click)="openManageLinksDialog();"><i class="bi bi-link-45deg"></i> Link Manager</button>
    <button mat-menu-item (click)="DialogManageIconsComponent();"><i class="bi bi-palette"></i> Icon Manager</button>
    <button mat-menu-item routerLink="/settings"><i class="bi bi-sliders"></i> Settings</button>
  </mat-menu> -->