<!-- <i 
  class="bi bi-list top-left-icon"
  [matMenuTriggerFor]="mainMenu"
  title="Menu"
></i> -->

<div class="container" style="background-color: transparent;">
    <app-search></app-search>
    <app-dashboard-drop></app-dashboard-drop>
</div>


<!-- <div style="position: fixed; bottom: 100px; left: 50%; transform: translateX(-50%); z-index: 2000;">
  <button (click)="testStatus('loading')">Show Loading</button>
  <button (click)="testStatus('success')">Show Success</button>
  <button (click)="testStatus('error')">Show Error</button>
</div> -->

<button (click)="openEditIconsDialog();">Open Icons dialog</button>

<app-ui-status></app-ui-status>