.list-item-delete-button {
  font-size: 18px;
  cursor: pointer;
}

.list-item {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  cursor: grab;
  border-radius: 3px;
}

.cdk-drop-list-dragging .cdk-drag-placeholder {
  background: rgba(255, 255, 255, 0.1);
  min-height: 36px;
  transition: all 0.2s ease;
}

.cdk-drop-list-dragging .cdk-drag-placeholder {
  background-color: rgba(255, 255, 255, 0.06);
  opacity: 0 !important;
  transition: background-color 0.3s ease;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.icon-wrapper {
  padding: 4px;
  margin-left: 4px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.icon-wrapper:hover {
  background-color: var(--group-background-color);
}

.edit-delete-buttons-container {
  margin-right: 6px;
  margin-bottom: 1px;
  margin-top: 1px;
}
