<mat-dialog-content style="display: flex; flex-direction: column; height: 100%; position: relative;">
  <h3 mat-dialog-title class="pb-2">Edit Link</h3>

  <i
    class="bi bi-x-lg close-icon"
    title="Close"
    (click)="cancel()"
  ></i>
  
    <div class="input-group mb-3">
      <input
      autocomplete="off"
        type="text"
        class="form-control"
        placeholder="Link Name"
        [(ngModel)]="link.name"
      />
    </div>
  
    <div class="input-group mb-3">
      <input
      autocomplete="off"
        type="text"
        class="form-control"
        placeholder="Link URL"
        [(ngModel)]="link.url"
      />
    </div>
  
    <div class="input-group mb-3">
        <input
        autocomplete="off"
          type="text"
          class="form-control"
          placeholder="Description"
          [(ngModel)]="link.description"
        />
      </div>

  </mat-dialog-content>
  
  <mat-dialog-actions class="justify-content-between" style="margin-right: 8px; margin-left: 8px;">
    <button mat-button color="warn" (click)="delete()">Delete Link</button>
    <button mat-button (click)="saveAndClose()">Save & Close</button>
  </mat-dialog-actions>
  