<mat-tab-group *ngIf="categories.length"
               [(selectedIndex)]="selectedTabIndex" 
               (selectedTabChange)="onTabChange($event)" 
               animationDuration="125ms" 
               style="margin-bottom: 25px; margin-top: 25px;"
               mat-stretch-tabs
               >
  <mat-tab *ngFor="let category of categories" [label]="category.name">

    <ng-template mat-tab-label>
      <div class="custom-tab-label-wrapper">
        <span class="category-name" 
            [title]="category.name"
            [ngStyle]="{
            'color': categoryFontColor,
            'font-weight': categoryFontWeight,
            'font-size': categoryFontSize
          }">{{ category.name }}</span>
        <i
          *ngIf="!category.isPlaceholder"
          class="bi bi-three-dots-vertical tab-menu-trigger"
          [matMenuTriggerFor]="tabMenu"
          (click)="$event.stopPropagation()"
        ></i>
      </div>
    </ng-template>

    <mat-menu #tabMenu="matMenu">

      <button mat-menu-item (click)="openAddCategoryDialog()">
        <i class="bi bi-plus-lg"></i> Add Category
      </button>

      <button mat-menu-item (click)="openEditCategoryDialog(category)">
        <i class="bi bi-pencil"></i> Edit Category
      </button>
    
      <button mat-menu-item (click)="openManageCategoriesDialog()">
        <i class="bi bi-sliders"></i> Category Manager
      </button>
    
      <button mat-menu-item (click)="deleteCategory(category)">
        <i class="bi bi-x-lg"></i> Delete Category
      </button>
    </mat-menu>

    <ng-container *ngIf="category.isPlaceholder; else normalCategory">
      <div class="d-flex justify-content-center align-items-center" style="padding: 40px; padding-top: 50px; padding-bottom: 90px; text-align: center;">
        <div>
          <h2>Welcome to Bolero</h2>
          <p>No categories exist yet. Click below to create your first one.</p>
          <button mat-raised-button color="primary" (click)="openAddCategoryDialog()">
            <i class="bi bi-plus-lg"></i> Create Category
          </button>
        </div>
      </div>
    </ng-container>

    <ng-template #normalCategory>
      <!-- Existing content rendered if not a placeholder -->
      <app-ui-link-group
        [category]="category"
        [categories]="categories"
        [selectedThemeName]="selectedThemeName"
        [isGroupDraggable]="isGroupDraggable"
        [isLinkDraggable]="isLinkDraggable"
        (refreshRequested)="refreshCategories()"
      ></app-ui-link-group>
    </ng-template>

  <!-- Begin Alert -->
  <div *ngIf="showDashboardTutorial" class="alert alert-info fade show mt-3" role="alert">
    <h4 class="alert-heading"><i class="bi bi-info-circle"></i> Here's a Quick Crash Course</h4>
         <p>
            This will be your main operating area. From this page you can add <b>Categories</b>, <b>Link Groups</b>, and <b>Links</b>. Within link groups, links can drag-and-drop within the same group, or to other groups. To drag a link, click the &nbsp;<i class="bi bi-arrows-move"></i> &nbsp;icon on the bottom group toolbar, which will enable drag-and-drop. Then use the drag handle to drag the link to where you want it. Using the same feature, you can drag entire groups to different locations under the same category.
         </p>
         <p>
          To move a group to another category, click the <i class="bi bi-three-dots-vertical"></i> menu at the top right of the group, then go to <i class="bi bi-send"></i> <b> Move Group</b>, then select the <i class="bi bi-box-seam"></i> <b> Category</b> you want to move the group to. Other useful features can be accessed from the many <i class="bi bi-three-dots-vertical"></i> menus available.
         </p>
         <p>
          To access Bolero's settings, click the <i class="bi bi-sliders"></i> &nbsp;button found below the groups area. Other quick start tutorials can be found there.
         </p>
    <p class="mb-0 d-flex justify-content-between align-items-center">
      <span>&nbsp;</span>
      <span class="button-group ms-3">
        <button mat-stroked-button style="margin-right: 10px;" (click)="dismissDashboardTutorial()">
          <i class="bi bi-x-lg"></i> Don’t Show Again
        </button>
        <button type="button" mat-stroked-button (click)="showDashboardTutorial = false">
          <i class="bi bi-caret-down"></i> Hide
        </button>
      </span>
    </p>
  </div>
  <!-- End Alert -->

  </mat-tab>

</mat-tab-group>