<mat-tab-group *ngIf="categories.length" dynamicHeight>
  <mat-tab *ngFor="let category of categories" [label]="category.name">

    <ng-template mat-tab-label>
      <div class="custom-tab-label-wrapper">
        <span class="category-name">{{ category.name }}</span>
        <i
          class="bi bi-three-dots-vertical tab-menu-trigger"
          [matMenuTriggerFor]="tabMenu"
          (click)="$event.stopPropagation()"
        ></i>
      </div>
    </ng-template>

    <mat-menu #tabMenu="matMenu">

      <button mat-menu-item (click)="openAddCategoryDialog()">
        <i class="bi bi-plus-lg"></i> Add Category
      </button>

      <button mat-menu-item (click)="openEditCategoryDialog(category)">
        <i class="bi bi-pencil"></i> Edit Category
      </button>
    
      <button mat-menu-item (click)="openManageCategoriesDialog()">
        <i class="bi bi-pencil-square"></i> Category Manager
      </button>
    
      <button mat-menu-item (click)="deleteCategory(category)">
        <i class="bi bi-x-lg"></i> Delete Category
      </button>
    </mat-menu>


    <app-ui-link-group
    [category]="category"
    [categories]="categories"
    [isGroupDraggable]="isGroupDraggable"
    [isLinkDraggable]="isLinkDraggable"
    (refreshRequested)="refreshCategories()"
  ></app-ui-link-group>


  </mat-tab>
</mat-tab-group>